@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}
*:lang(en), [data-type="num"] {font-family: 'Play', sans-serif;}

/* 공통속성 */
.container{margin: 0 auto; height: inherit; width: 1400px;}
ul{list-style: none;}
a{text-decoration: none;}
body{line-height: 1.25;}

/* 레이아웃 */
#header {height: 170px;}
#content {width: 100%; height: 1290px;}
#footer{height: 160px;}


/* header */
#header .area1 {height: 92px; padding: 22px 0; box-sizing: border-box; position: relative;}
#header .area1 > .logo {position: absolute; left: 50%; top: 25px; transform: translateX(-50%);}
#header .area1 > .special1 > a > img {width: 195px;height: 40px;}
#header .uti1 {float: right; margin-top: 7px; height: 92px;}
#header .uti1 > ul{float: left; position: absolute; top: 35px; right: 0}
#header .uti1 > ul > li {float: left; border-right: 1px solid #656565; padding: 0px 10px 0px 10px;}
#header .uti1 > ul > li:not(:last-child) {float: left; border-right: 1px solid #656565; padding: 0px 10px 0px 10px;}
#header .uti1 > ul:last-child {border: none;}
#header .uti1 > ul > li > a {display: block; color: #656565;}



/* area2 nav */
#header .area2 {width: 100%; border-top: 1px solid #ddd; position: relative;     border-bottom: 1px solid #ddd;}
#header .bg {width: 100%; height: 0px; background: #232d3c; position: absolute; top: 77px; left: 0; transition: .3s; z-index: 10;}
#header .nav:hover .bg {height: 410px;}
#header .nav .gnb {height: 60px; position: relative;}
#header .nav .gnb > ul {float: left;}
#header .nav .gnb > ul > li {float: left; width: 180px;}
#header .nav .gnb > ul > li > a {font-size: 20px; padding: 26px 0 27px 30px; display: block; font-weight: 550; color: #000; position: relative;}
#header .nav .gnb > ul > li > a::before {content: ''; display: block; width: 0%; height: 10px; position: absolute; left: 50%; top: 55%; z-index: -1; background-color: #fdb913; transition: all 0.2s ease;}
#header .nav .gnb > ul > li:first-child > a::before {content: ''; display: block; width: 50%; height: 10px; position: absolute; left: 10%; top: 55%; background-color: #fdb913;}
#header .nav .gnb > ul > li:hover > a::before {width: 50%; left: 10%;}
#header .nav .gnb > ul > li:hover > #header .nav .gnb > ul > li:not(:first-child){display: none;}
#header .nav .gnb > ul > li:hover > ul {background: #141c28;}
#header .nav .gnb > ul > li > ul {display: block; position: absolute; border-left: 1px solid #0c0c0c;  box-sizing: border-box; width: 180px; height: 0; padding-left: 12px; background: #232d3c; z-index: 10; overflow: hidden; transition: .3s;}
#header .nav .gnb > ul > li > ul > li{padding-top: 5px;}
#header .nav .gnb > ul:hover > li > ul{height: 409px;}
#header .nav .gnb > ul > li > ul > li:hover > a{color: #fdb913;}
#header .nav .gnb > ul > li:last-child > ul{border-right: 1px solid #0c0c0c;}
#header .nav .gnb > ul > li > ul li a{font-size: 16px; padding: 6px 7px; display: block; font-weight: 500; color: #bfc6d1;}


/* arar3 */
.area3 {
    position: relative;
    width: 100%;
    height: 100%;
    top: 90px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;    
}

.allmenu-pop {
    height: 100vh;
    overflow: hidden;
}
  
.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}


#header .area3 .container {
    position: relative;
}

.tsidemenu .menu-trigger {
    display: block;
    position: relative;
    z-index: 20;
    width: 72px;
    height: 78px;
    padding-top: 24px;
    background-color: #132f57;
    box-sizing: border-box;
}
.tsidemenu .menu-trigger.active {
    background-color: #fdb913;
}
#header .tsidemenu {
    position: absolute;
    top: 0;
    right: 0;
}
#header .tsidemenu .menu-trigger.active > span.bar1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
    width: 40px;
}
#header .tsidemenu .menu-trigger > span {
    display: block;
    width: 23px;
    height: 2px;
    margin: 6px auto 0;
    background: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#header .tsidemenu .menu-trigger.active > span.bar2 {
    opacity: 0;
    width: 0;
}
#header .tsidemenu .menu-trigger.active > span.bar3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -11px;
    width: 40px;
}

.pop-nav{
    background-color: #fff;
    z-index: 27;
    position: relative;
}
.pop-nav>.title{
    width: 1300px;
    height: auto;
    position: static;
    display: block;
    text-transform: uppercase;
    padding: 50px;
    font-family: 'play', sans-serif;
    color: #132f57;
    font-size: 35px; font-weight: 600; position: absolute; background-color: #fff;}

.pop-nav>ul{display: block !important;
    position: absolute;
    left: 50%;
    top: 120px;
    z-index: 9;
    width: 100%;
    height: 670px;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 50px 50px;
    box-sizing: border-box;}

.pop-nav>ul>li{display: flex;}
.pop-nav>ul>li>.topMenu{font-size: 28px;
    border-top: 3px solid #000;
    padding: 30px 0 0 0;
    width: 20%;     padding: 26px 0 25px 30px; font-weight: 600;}

.pop-nav > ul > li {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.pop-nav .depth2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    height: auto;
    border-left: 0;
    border-top: 1px solid #ddd;
    padding: 30px;
}
.pop-nav > ul li .depth2 {
    -webkit-box-flex: 4;
    -ms-flex: 5;
    flex: 5;
    position: static;
    -webkit-transform: none;
    transform: none;
}
pop-nav > ul > li > .depth2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    height: auto;
    border-left: 0;
    border-top: 1px solid #ddd;
    padding: 30px;
}
.pop-nav > ul li .depth2>li{width: 25%;}
.pop-nav > ul li .depth2 > li > a{font-size: 20px; color: #000; display: block;}
.pop-nav > ul li .depth2 > li  a{padding: 5px 7px;}
.pop-nav > ul li .depth2 a {font-size: 16px;}
.pop-nav > ul > li .depth3 > li > a {
    color: #555;
    position: relative;
    padding-left: 10px;
}
.pop-nav > ul > li .depth3 > li > a::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #a2a2a2;
    position: absolute;
    left: 0;
    top: 15px;
    border-radius: 50%;
}

.pop-nav > ul > li .depth3 {
    display: block;
    margin: 20px 10px 30px; line-height: 1.7;
}


/* search-menu */
#side-menu {position: relative;}
.search-menu {background: none; position: absolute; top: -61px; right: 73px; width: 110px; height: 78px;}
.side-menu {position: absolute; top: -60px; right: 0;}
.side-menu .menu-btn {display: block; z-index: 20; width: 72px; height: 53px; padding-top: 24px; background-color: #132f57;}
.side-menu .menu-btn > span {display: block; width: 23px; height: 2px; margin: 6px auto 0; background: #fff; -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-backface-visibility: hidden; backface-visibility: hidden;}


/* btn_shc_open */
.shc_layer{ position: absolute; left: 50%; top: 76px; z-index: 20; background: #fff; width: 100%; transform: translateX(-50%); text-align: center; padding: 30px 0; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07); border-top: 1px solid #ddd;}



/* 검색창 열기 */
.shc_layer {display: none; height: 122px; box-sizing: border-box;}
/* .show_modal {display: block; transition: .5s;} */
/* .shc_layer { height: 0; opacity: 0; }
.show_modal {height: 122px; box-sizing: border-box; opacity: 1; transition: .5s;} */

.shc_layer .sch_form input[type=text] {border: 0; border-bottom: 1px solid #000; color: #727272; font-size: 20px; width: 500px; padding: 15px 50px 15px 15px;}
.shc_layer .sch_form input::placeholder {color:#ccc;}
.shc_layer .sch_form label {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
.shc_layer .sch_form .btn_sch {background: none; margin-left: -50px;}


/* x아이콘 */
.shc_layer .btn_sch_close {background: none; color: #3e77c6; position: absolute; top: 10px;}
.shc_layer .btn_sch_close .xi-close-thin {font-weight: 700; background: none;}
.shc_layer .btn_sch_close .xi-close-thin > i {position: absolute; left: 555px; top: 19px;}


/* sub1메뉴 */
#visual .sub1 {background: url(../img/sub1_visual_bg.jpg);}
#visual .container {width: 100%; position: relative; margin-bottom: 40px;}
#visual {width: 100%; height: 172px; background: url(../img/sub1_visual_bg.jpg) center top/cover no-repeat;}
#side {width: 18%; min-width: 18%; padding-right: 4%; float: left;}

#content {position: relative;}
#content #side > .title {align-items: center; justify-content: center; text-align: center; width: 252px; height: 110px; background-color: #335a93; color: #ffffff; margin-top: -110px; margin-bottom: 10px; font-weight: 500; font-size: 24px; line-height: 105px;}


#side .snb > li {margin-bottom: 2px;}
#side .snb > li >a {display: block; color: #000; font-size: 18px; padding: 17px 20px; position: relative; background-color: #f6f6f6; font-weight: 500;}
#side .snb > li.active > a {color: #313959;background-color: #fff;border: 2px solid #313959;}
#side .snb > li > a::after {content: ""; width: 10px; height: 2px; background-color: #b3b3b3; position: absolute; top: 50%; right: 20px; margin-top: -1px; -webkit-transform: rotate(90deg); transform: rotate(90deg); -webkit-transition: all .3s; transition: all .3s;}
#side .snb > li > a::before {content: ""; width: 10px; height: 2px; background-color: #b8b8b8; position: absolute; top: 50%; right: 20px; margin-top: -1px; -webkit-transition: all .3s; transition: all .3s;}
#side .snb > li.active > a::after {-webkit-transform: rotate(0); transform: rotate(0);}
#side .snb > li.active > a::before, #side .snb > li.active > a::after {background-color: #000;}
#side .snb > li.active .depth2 {display: block;}
#side .snb > li .depth2 > li.active > a::before {width: 2px; height: 0.8rem; -webkit-transform: skewX(-45deg); transform: skewX(-45deg); top: 0.8rem;}
#side .snb > li.active .depth2 {display: block;}
#side .snb > li .depth2 {padding: 15px 10px 15px 20px; display: none;}
#side .snb > li .depth2 > li.active > a {display: block; padding: 4px 0 4px 0; color: #555; font-size: 16px; position: relative; -webkit-transition: all .3s; transition: all .3s; font-weight: 600; word-break: keep-all; letter-spacing: -.7px;}
#side .snb > li .depth2 > li.active > a {color: #162b48;}
#side .snb > li .depth2 > li > i {top: 12px;}

#content .detail-content {width: 100%; max-width: 1090px; margin: 0 auto; padding-bottom: 50px; float: left;}
#content .detail-content > h3 .title {color: #fff; font-size: 32px; letter-spacing: -2px; font-weight: 500; margin-top: -70px; margin-bottom: 50px;}



/* ADD선언문 */
.box.border {border: 1px solid #dddddd;}
.box.bg-gray {background-color: #fafafa;}
.box {padding: 40px; margin: 10px 0 40px;}
.detail-content p {margin-bottom: 10px; line-height: 1.7;}
.customer-charter .title {color: #113058; font-weight: 700; font-size: 40px; text-align: center; margin-top: 0;}
#content h3.title { color: #fff; font-size: 32px; font-weight: 500; margin-top: -70px; margin-bottom: 50px;}
#content .detail-content .breadcrumbs {text-align: right; margin-bottom: 40px; font-size: 16px; color: #656565;}
#content .detail-content .breadcrumbs > li {display: inline-block;}
#content .detail-content .breadcrumbs li .fa-angle-right {margin: 0 5px;}
#content .detail-content .breadcrumbs > li > a {color: #656565;}

.customer-charter .title {color: #113058; font-weight: 700; font-size: 40px; text-align: center; margin-top: 0; margin-bottom:20px;}
.customer-charter .title::before {content: url(../img/0103_01_img1.png); display: inline-block; margin-right: 10px; vertical-align: middle;}
.customer-charter .title::after {content: url(../img/0103_01_img2.png); display: inline-block; margin-left: 10px; vertical-align: middle;}
.customer-charter .desc {color: #333333; font-size: 18px; text-align: center; margin-bottom: 20px;}
.customer-charter .list {background-color: #ffffff; padding: 50px; margin: 30px 0;}
.customer-charter .list li {padding: 10px; margin-top: 5px; color: #666666;}
.customer-charter .list li:not(:first-child) {border-top: 1px dotted #b2b2b2;}
.customer-charter .list li .one {font-size: 16px; display: inline-block; vertical-align: middle; background-color: #113058; width: 56px; height: 56px; line-height: 56px; color: #ffffff; text-align: center; border-radius: 50%; margin-right: 30px;}
.customer-charter .list li p {font-size: 16px;  display: inline-block; vertical-align: middle; width: calc(100% - 100px);}
.customer-charter .desc {color: #333333; font-size: 18px; text-align: center; margin-bottom: 20px;}


/* top버튼 */
.go-top.active {opacity: 1; visibility: visible;}
.go-top:hover {background-color: #50505A;}
.go-top {position: fixed; text-align: center; padding-top: 10px; box-sizing: border-box; right: 25px; bottom: 25px; z-index: 10; display: block; width: 60px; height: 60px; border-radius: 50%; background-color: #889; color: #fff; opacity: 0; visibility: hidden; transition: all .3s;}
.go-top span {display: block; font-size: 15px; line-height: 1.3;}



#footer {background-color: #262626;position: relative; padding-top: 40px;}
#footer .container {position: relative;}
#footer h1 {float: left;}
#footer .info {margin-left: 300px; font-size: 14px; color: #939393;}
#footer .info .rules {overflow: hidden; margin-bottom: 15px; margin-left: -15px;}
#footer .info .rules > li {float: left; padding: 0 15px; position: relative;}
#footer .info a {color: #aaa; transition: all .3s ease; -webkit-transition: all .3s ease;}
#footer .info a.point {color: #fdb913; font-weight: 700;}
#footer .info .rules > li::after {content: ""; width: 1px; height: 9px; background-color: #9699a0; position: absolute; top: 4px; left: 0;}
#footer .info .tel_info > li::after {content: ""; width: 1px; height: 9px; background-color: #9699a0; position: absolute; top: 4px; left: 0;}
#footer .info .rules > li:first-child::after {display: none;}
#footer .info .tel_info > li:first-child::after {display: none;}

#footer .info .tel_info > li {float: left; padding: 0px 15px 0px 15px; position: relative;}
#footer .info address {margin-top: 15px;}
#footer .info .tel_info {overflow: hidden; margin-bottom: 15px; margin-left: -15px; margin-top: 15px;}
#footer .info a:hover {color: #fff; text-decoration: underline;}
#footer .family-site button {cursor: pointer; width: 250px; height: 38px; background-color: #141414; color: #aaa; font-size: 14px; text-align: left; padding-left: 20px; position: relative;}
#footer .family-site {position: absolute; top: 0; right: 0;}


#footer .family-site button::after {content: ""; border-width: 5px; border-color: transparent transparent #8d8f94; border-style: solid; position: absolute; top: 50%; right: 20px; margin-top: -10px; -webkit-transform: rotate(0); transform: rotate(0); transition: all .3s; }



#footer .family-site.active .button::after {margin-top: -5px; transform: rotate(180deg);}


#footer .family-site .depth-list > li > a:hover {
    background-color: #0b0f18;
    color: #fff;
}
#footer .family-site .depth-list > li {
    border-bottom: 1px solid #343b46;
}
#footer .family-site .depth-list > li > a {display: block; height: 38px; font-size: 14px; color: #aaa; padding: 11px 20px; transition: .5s; box-sizing: border-box;}
#footer .family-site .depth-list {background-color: #141414; position: absolute; bottom: 38px; left: 0; width: 100%; z-index: 5;}





.menu a{cursor:pointer;}
.hide{display: none;}

.img-box{
    /* width: 429px; */
    transition: all 1s;
    transform: translateX(0px);
}

.img-active {
    background-color: #fdb913;
}

